.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

.brand-title {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0.5rem;
  text-transform: uppercase;
  color: black;
}

.navbar-links {
  flex-direction: column;
  display: none;
  width: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.navbar-links li {
  list-style: none;
  text-align: center;
  padding: 8px;
  font-weight: 600;
}

.navbar-links ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
}

.navbar-links li:hover {
  text-decoration: underline;
}

.navbar-links.active {
  display: flex;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.hero-container {
  background-image: url("../images/hero.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.hero-text {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  text-align: center;
  color: #ffefd6;
  text-shadow: 6px 6px black;
  font-size: 3.2rem;
  font-weight: 900;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

.box {
  display: flex;
  flex-direction: column;
}

.community {
  padding: 20px 0px 0px;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.title-md {
  font-size: 2rem;
  text-align: center;
  padding: 0;
  margin: 0;
}

.title-sm {
  font-size: 2.8rem;
  padding-top: 20px;
  margin: 0;
}

.btn {
  background-color: white;
  border: 2px black solid;
  border-radius: 50px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px;
  margin: 10px;
}
.btn:hover {
  background-color: #ECC4A2;
  transition: background-color 0.3s;
  color: black;
  font-weight: 600;
  box-shadow: -2px 2px 2px 1px rgba(17, 17, 17, 0.2);
}

.box {
  margin: 20px auto;
  width: 50%;
}
.box a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.snowflake {
  font-size: 2.5rem;
  margin: 5px;
  text-align: center;
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
  height: auto;
}

.label {
  position: absolute;
  top: 45%;
  background: rgba(46, 10, 4, 0.1);
  height: 80px;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: white;
  font-weight: 600;
  padding: 7px;
}

/* ABOUT */
.about {
  background-color: #ffd298;
  color: black;
  padding: 10px 30px;
}

.about-text {
  font-size: 1.1rem;
  line-height: 25px;
}

.title-sm {
  text-align: left;
  font-size: 2rem;
}

.about a {
  color: black;
}

/* FOOTER */
footer {
  background-color: #29201b;
  padding: 30px;
  text-align: center;
  font-size: 1.2rem;
  color: white;
}
footer a {
  color: white;
}

footer p {
  margin: 7px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  .hero-container {
    background-image: url("../images/hero-desktop.jpg");
    background-position: top center;
    padding-bottom: 800px;
    background-size: cover;
  }

  .hero-text {
    text-align: right;
    padding-top: 120px;
    padding-right: 100px;
    font-size: 5rem;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  }

  .toggle-button {
    display: none;
  }

  .navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navbar-links ul {
    display: flex;
    flex-direction: row;
  }

  .navbar-links ul li {
    font-size: 1.1rem;
  }

  .navbar-links li a {
    padding: 1rem;
  }

  .navbar-links.active {
    display: none;
  }

  main {
    background-color: #fef8f2;
    color: black;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .menu-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 10px 20px 20px;
  }

  .location-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 20px 20px 10px;
  }

  .community {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 10px;
  }

  .img-container {
    position: relative;
  }

  .label {
    position: absolute;
    top: 45%;
    background: rgba(46, 10, 4, 0.1);
    height: 80px;
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
    color: white;
    font-weight: 600;
    padding: 7px;
  }

  .img-container:hover {
    opacity: 0.8;
  }

  .card.menu-locations {
    padding-top: 20px;
  }

  .card.button-card {
    padding: 100px;
  }

  .cards h2 {
    font-size: 3.5rem;
    padding: 10px;
    margin: 0;
  }

  .card.gif {
    padding-bottom: 80px;
  }

  .brand-title {
    font-size: 3rem;
  }

  .header {
    padding: 40px;
  }

  .box {
    width: 80%;
  }

  .btn {
    padding: 20px;
  }

  .title {
    font-size: 4rem;
    text-align: center;
    padding: 0px 20px;
  }

  .title-md {
    font-size: 3.3rem;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .title-sm {
    font-size: 2.8rem;
    padding: 30px 0px 10px 20px;
    margin: 0;
  }

  .about-container {
    display: flex;
  }

  .about {
    padding: 50px;
  }

  .about-text {
    padding: 20px;
    line-height: 27px;
  }

  footer {
    padding: 80px;
    text-align: center;
    font-size: 1.2rem;
  }
  footer a {
    color: white;
  }

  .menu-container {
    padding: 100px;
  }
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
  height: 100%;
  padding: 0;
  margin: 0;
}