* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
  height: 100%;
  padding: 0;
  margin: 0;
}

.hero-container {
  background-image: url("../images/hero.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.hero-text {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  text-align: center;
  color: #ffefd6;
  text-shadow: 6px 6px black;
  font-size: 3.2rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  padding: 0px 10px 20px;
  font-weight: 900;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
}

.brand-title {
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0.5rem;
  text-transform: uppercase;
  color: black;
}

.navbar-links {
  flex-direction: column;
  display: none;
  width: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.navbar-links li {
  list-style: none;
  text-align: center;
  padding: 8px;
  font-weight: 600;
}

.navbar-links ul li a {
  text-decoration: none;
  color: black;
}

.navbar-links li:hover {
  background-color: #555;
}

.navbar-links.active {
  display: flex;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

h2,
h3 {
  text-align: center;
  font-size: 1.5rem;
  margin: 5px;
}

h3 {
  text-decoration: underline;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}
.card a {
  text-decoration: none;
  color: black;
}

.cards {
  padding: 40px 0px;
  background-color: antiquewhite;
}
.cards a {
  color: black;
}

.btn {
  background-color: white;
  border: 2px black solid;
  border-radius: 50px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px;
  margin: 10px;
}
.btn:hover {
  background-color: #ECC4A2;
  transition: background-color 0.3s;
  color: black;
  font-weight: 600;
  box-shadow: -2px 2px 2px 1px rgba(17, 17, 17, 0.2);
}

.snowflake {
  font-size: 2.5rem;
  margin: 5px;
}

.menu-cards {
  display: flex;
  flex-direction: column;
}

.menu-card {
  padding-bottom: 50px;
}

.menu-card a {
  color: black;
  text-decoration: none;
}

figure {
  padding: 0;
  margin: 0;
}

figure img {
  width: 100%;
  height: auto;
}

figure img:hover {
  opacity: 0.7;
}

.img-container img {
  width: 100%;
  height: auto;
}

.card.menu-locations {
  flex-direction: row;
  padding: 0px 0px 40px;
}

.card.button-card {
  padding: 50px;
}

/* ABOUT */
.about-container {
  background-color: #ffd298;
  padding: 10px 30px;
}

.about-text {
  font-size: 1.1rem;
  line-height: 25px;
}

.about-container a {
  color: black;
}

.about-container .cards {
  background-color: #ffd298;
}

/* FOOTER */
footer {
  background-color: #29201b;
  color: white;
  padding: 30px;
}

footer p {
  margin: 7px;
}

footer .card a {
  color: white;
}

.footer.cards {
  background-color: #29201b;
}

.bold-text {
  margin-bottom: 30px;
  font-size: 2rem;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  .hero-container {
    background-image: url("../images/hero-desktop.jpg");
    background-position: top center;
    padding-bottom: 750px;
  }

  .hero-text {
    top: 370px;
    right: 150px;
    font-size: 5rem;
  }

  .navbar {
    justify-content: space-between;
    align-items: center;
  }

  .toggle-button {
    display: none;
  }

  .navbar-links {
    display: block;
  }

  .navbar-link ul {
    flex-direction: row;
  }

  .navbar-links li a {
    display: block;
    padding: 1rem;
  }

  .navbar-links.active {
    display: none;
  }

  figure img {
    height: 400px;
    width: auto;
  }

  .menu-cards {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
  }

  .menu-card {
    padding: 20px 10px;
  }

  .card.button-card {
    padding: 100px;
  }

  h2 {
    font-size: 3rem;
  }

  .about-container {
    padding: 30px 150px;
  }

  footer p {
    font-size: 1.2rem;
  }
}