
  /* ABOUT */
  
  .about {
    background-color: #ffd298;
    color: black;
    padding: 10px 30px;
  }
  
  .about-text {
    font-size: 1.1rem;
    line-height: 25px;
  }

  .title-sm {
    text-align: left;
    font-size: 2rem;
  }
  
  .about a {
    color: black;
  }

  