
/* FOOTER */

footer {
    background-color: #29201b;
    color: white;
    padding: 30px;
  }
  
  footer p {
    margin: 7px;
  }
  
  footer .card a {
    color: white;
  }
  
  .footer.cards {
    background-color: #29201b;
  }
  
  .bold-text {
    margin-bottom: 30px;
    font-size: 2rem;
  }
  