
// MAIN CONTENT
main {
  background-color: antiquewhite;
}

.title {
  text-align: center;
  font-size: 2rem;
}
.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
  
    a {
      text-decoration: none;
      color: black;
    }
  }
  
  .card.follow {
    padding-bottom: 60px;
  }
  .cards {
    padding: 20px 20px;
    background-color: antiquewhite;
  
   a {
      color: black;
    }
  }


  
  .btn {
    background-color: white;
    border: 2px black solid;
    border-radius: 50px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px;
    margin: 10px;
  
    &:hover {
      background-color: #ECC4A2;
      transition: background-color 0.3s;
      color: black;
      font-weight: 600;
      box-shadow: -2px 2px 2px 1px rgba(17, 17, 17, 0.2);
  
    
    }
  }
  
  
  
  .snowflake {
    font-size: 2.5rem;
    margin: 5px;
  }
  
  .menu-cards {
    display: flex;
    flex-direction: column;
  }
  
  .menu-card {
    padding-bottom: 20px;
  }
  
  .menu-card a {
    color: black;
    text-decoration: none;
  }
  
 

  figure {
    padding: 0px 20px;
    margin: 0;
  }
  
  figure img {
    width: 100%;
    height: auto;
  }
  
  figure img:hover {
    opacity: 0.7;
  
  }
  
 h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 1.7rem;
    padding: 0;
    margin-top: 8px;
  }
  .img-container img {
    width: 100%;
    height: auto;
  }
  
  .card.menu-locations {
    flex-direction: row;
    padding: 0px 0px 40px;
  }
  
  .card.button-card {
    padding: 50px;
  }
  
  .cards h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
  }

  /* ABOUT */
  
  .about-container {
    background-color: #ffd298;
    padding: 10px 30px;
  }
  
  .about-text {
    font-size: 1.1rem;
    line-height: 25px;
  }

  .about-container .title {
    text-align: left;
  }
  
  .about-container a {
    color: black;
  }
  
  .about-container .cards {
    background-color: #ffd298;
  }
  
  