// MAIN CONTENT

.grid-container {
  display: grid;
  grid-template-columns: 1fr
}

.box {
  display: flex;
  flex-direction: column;
}

.community {
  padding: 20px 0px 0px;
}

h1 {
  text-align: center;
  font-size: 2.2rem;
  margin: 0;
  padding: 20px;
}

.title-md {
  font-size: 2rem;
  text-align: center;
  padding: 0;
  margin: 0;
}

.title-sm {
  font-size: 2.8rem;
  padding-top: 20px;
  margin: 0;
}

.social-btns {
  display: flex;
  justify-content: center;
  flex-direction: row;

  a {
    display: inherit;
  }
}

button {
  background-color: white;
  font-weight: 300;
  border: 2px black solid;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 15px;
  margin: 30px 10px;

  &:hover {
    background-color: #ECC4A2;
    transition: background-color 0.3s;
    color: black;
    box-shadow: -2px 2px 2px 1px rgba(17, 17, 17, 0.2);
  }
}

.fab {
font-size: 2.5rem;
color: black;
margin: 50px 20px;
}

.snowflake {
  font-size: 2.5rem;
  margin: 5px;
  text-align: center;
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
  height: auto;
}

.label {
  position: absolute;
  top: 45%;
  background: rgba(46, 10, 4, 0.1);
  height: 80px;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: white;
  font-weight: 600;
  padding: 7px;
}
