// HERO
.hero-container {
    background-image: url('../images/hero.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
  }
  
  .hero-text {
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    text-align: center;
    color: rgb(255, 239, 214);
    text-shadow: 6px 6px black;
    font-size: 3.2rem;
    font-weight: 900;
  }