/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {

  .hero-container {
    background-image: url('../images/hero-desktop.jpg');
    background-position: top center;
    padding-bottom: 800px;
    background-size: cover;
  }

  .hero-text {
    text-align: right;
    padding-top: 120px;
    padding-right: 100px;
    font-size: 5rem;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  }

  .toggle-button {
    display: none;
  }

  .navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navbar-links ul {
    display: flex;
    flex-direction: row;
  }


  .navbar-links ul li {
    font-size: 1.1rem;
  }

  .navbar-links li a {
    padding: 1rem;
  }

  .navbar-links.active {
    display: none;
  }

  main {
    background-color: rgb(254, 248, 242);
    color: black;

  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .menu-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 10px 20px 20px;

  }

  .location-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 20px 20px 10px;

  }

  .community {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 10px;
  }

  .img-container {
    position: relative;
  }

  .label {
    position: absolute;
    top: 45%;
    background: rgba(46, 10, 4, 0.1);
    height: 80px;
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
    color: white;
    font-weight: 600;
    padding: 7px;
  }

  .img-container:hover {
    opacity: 0.8;
  }

  .card.menu-locations {
    padding-top: 20px;
  }



  .card.button-card {
    padding: 100px;
  }

  .cards h2 {
    font-size: 3.5rem;
    padding: 10px;
    margin: 0;
  }

  .card.gif {
    padding-bottom: 80px;
  }

  .brand-title {
    font-size: 3rem;
  }

  .header {
    padding: 40px;
  }

  .box {
    width: 80%;
  }

  .btn {
    padding: 20px;
  }

  .title {
    font-size: 4rem;
    text-align: center;
    padding: 0px 20px;
  }

  .title-md {
    font-size: 3.3rem;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .title-sm {
    font-size: 2.8rem;
    padding: 30px 0px 10px 20px;
    margin: 0;
  }

  .about-container {
    display: flex;
  }

  .about {
    padding: 50px;
  }

  .about-text {
    padding: 20px;
    line-height: 27px;
  }

  footer {
    padding: 80px;
    text-align: center;
    font-size: 1.2rem;

    a {
      color: white;
    }
  }

  .menu-container {
    padding: 100px;
  }

}