
// NAV
.navbar {
  background-color: rgb(255, 239, 214, 0.9);
}

.navbar-nav {
  align-items: center;
}

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 5px;
    text-transform: uppercase;
    color: black;
  }

  .navbar-collapse {
    flex-grow: 0;
  }
  
  .nav-item {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 8px 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  .navbar-light .navbar-nav .nav-link {
    color: black;

    &:hover {
      color: black;
    }
  }


  .navbar-links {
    flex-direction: column;
    display: none;
    width: 100%;
  }

  .navbar-light .navbar-toggler {
    color: black;
    border: none;
  }

