@use 'navigation';
@use 'hero';
@use 'grid';
@use 'footer';
@use 'mediaqueries';


* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  height: 100%;
  padding: 0;
  margin: 0;
}


