@use "../mixins";

/* ABOUT */

.about-container {
  display: flex;
  flex-direction: column;
  background-color: #e8d3b1;
  color: black;
  padding: 10px;

  @include mixins.tablet-only {
    padding: 10px 20px 40px;
  }

  @include mixins.desktop-only {
    flex-direction: row;
    flex-wrap: no-wrap;
    padding: 45px 50px 80px;
  }
}

.about-section {
  @include mixins.desktop-only {
    width: 50%;
  }
}

.about-text {
  font-size: 1.4rem;
  line-height: 30px;
  padding: 20px 10px 0px;

  @include mixins.tablet-only {
    padding: 20px 10px 0px;
    font-size: 1.3rem;
    line-height: 35px;
  }

  @include mixins.desktop-only {
    font-size: 1.3rem;
    line-height: 32px;
    padding: 0px 0px 20px 60px;
    margin: 0;
  }
}

.title-sm {
  text-align: left;
  font-size: 2.5rem;
  background-color: #e8d3b1;
  padding: 30px 15px 10px;

  @include mixins.tablet-only {
    font-size: 2.1rem;
    padding: 30px 30px 10px;
    margin: 0;
  }

  @include mixins.desktop-only {
    font-size: 2.5rem;
    padding: 60px 50px 0px;
    margin: 0;
  }
}

.about a {
  color: black;
}