/* FOOTER */

.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #29201b;
  padding: 30px;
  font-size: 1.2rem;
  color: white;

  @include mixins.desktop-only {
    padding: 80px;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  a {
    color: white;
  }
}

.footer-section {
  margin: 10px 5px;

  @include mixins.desktop-only {
    padding: 0px 60px;
  }

  p {
    margin: 7px;
    text-align: left;
  }
}

.footer-section .social-buttons {
  justify-content: flex-start;
}


.footer-container .fab {
  color: white;
  margin: 0px 10px;
  font-size: 1.5rem;

  @include mixins.desktop-only {
    margin: 40px 10px;
    font-size: 2rem;
  }

  &:hover {
    color: #79665d;
  }
}

#text {
  display: none;
}