@use "../mixins";

// NAV

.navbar {
  background-color: rgba(34, 23, 7, 0.8);

  @include mixins.desktop-only {
    background-color: transparent;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.navbar-nav {
  align-items: center;
  color: #fff;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff !important;

  @include mixins.desktop-only {
    font-size: 2.5rem;
    padding: 0;
  }

}

.navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 8px 10px;

  &:hover {
    text-decoration: underline;
    color: #fff;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;

  &:hover {
    color: #fff;
  }
}

.navbar-links {
  flex-direction: column;
  display: none;
  width: 100%;
}

.navbar-light .navbar-toggler {
  color:#fff;
  border: none;
}

.navbar-toggler-icon {
  padding: 10px;

  @include mixins.tablet-only {
    width: 2em;
    height: 2.5em;
  }
}