@use "../mixins";

/* ABOUT */

.about-container {
  display: flex;
  flex-direction: column;
  background-color: #e8d3b1;
  color: black;
  padding: 10px;

  @include mixins.tablet-only {
    padding: 10px 20px 40px;
  }

  @include mixins.desktop-only {
    flex-direction: row;
    flex-wrap: no-wrap;
    padding: 35px 50px 80px;
    width: 90%;
    margin: 0 auto;
  }
}

.about-section {
  @include mixins.desktop-only {
    width: 50%;
  }
}

.heading-container {
  width: 90%;
  margin: 0 auto;

  @include mixins.tablet-only {
    width: 95%;
  }

  @include mixins.desktop-only {
    width: 90%;
    margin: 0 auto;
  }
}

.about-text {
  font-size: 1.1rem;
  line-height: 30px;
  padding: 20px 10px 0px;

  @include mixins.tablet-only {
    padding: 20px 10px 0px;
    line-height: 1.7rem;
  }

  @include mixins.desktop-only {
    line-height: 1.6rem;
    padding: 0px 0px 20px 40px;
    margin: 0;
  }
}

.title-bold {
  text-align: left;
  font-size: 3rem;
  font-weight: 600;
  background-color: #e8d3b1;
  padding: 30px 5px 10px;

  @include mixins.tablet-only {
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 3.5rem;
    padding: 30px 0px 10px;
    margin: 0;
  }

  @include mixins.desktop-only {
    font-size: 2.8rem;
    padding: 60px 50px 0px;
    margin: 0;
    font-weight: 700;
  }
}

.about a {
  color: black;
}