@use "../mixins";

// GRID

.grid-container {
  display: grid;
  grid-template-columns: 1fr;

  @include mixins.tablet-only {
    grid-template-columns: 1fr 1fr;
    padding: 10px 20px;
  }


  @include mixins.desktop-only {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px 40px;
  }

  a {
    text-decoration: none;
  }

}


// MENU & LOCATIONS

// Button for modal
button {
  border: none;
}

.menu-locations {
  height: 100vh;
  padding: 0px 10px;
  width: 100%;
  margin: -110px auto auto;


  @include mixins.tablet-only {
    padding: 50px 10px;
    height: 50vh;
    margin-bottom: auto;

  }

  @include mixins.desktop-only {
    height: 100vh;
    margin-bottom: auto;
    width: 90%;
  }
}

.menu-section {
  background-image: url(../images/menu.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 100px;
  margin: 0px 0px 30px; 

  &:hover {
    opacity: 0.9;
  }

  @include mixins.tablet-only {
    margin: 0px 20px;
  }

  @include mixins.desktop-only {
    margin: 0px 20px;
  }

  

}

.location-section {
  background-image: url(/src/images/locations.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 100px;

  &:hover {
    opacity: 0.9;
  }

  @include mixins.tablet-only {
    margin: 0px 20px;
  }


  @include mixins.desktop-only {
    margin: 0px 20px;
  }

}

// HEADINGS

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding: 100px 30px 250px;
  font-weight: 900;
  background-image: url("../images/wave-haikei.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  @include mixins.tablet-only {
    font-size: 3rem;
    padding: 70px 30px 250px;
  }

  @include mixins.desktop-only {
    font-size: 3.7rem;
    padding: 100px 30px 400px;
  }

}

h2 {
  text-align: center;
  padding: 10px 0px 30px;
  letter-spacing: 2px;
}

.title-md {
  font-size: 2.8rem;
  line-height: 4rem;
  text-align: center;
  padding: 30px 10px 0px;
  margin: 0;

  @include mixins.tablet-only {
    font-size: 2.9rem;
  }

  @include mixins.desktop-only {
    font-size: 3.3rem;
    padding: 0px;
    max-width: 17ch;
  }
}

#border {
  background-image: url("../images/wave-haikei.svg");
  background-position: bottom;
  transform: rotate(360deg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

// COMMUNITY
.grid-container .community-section {
  padding: 20px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;

  a {
    display: inherit;
  }
}

.fab {
  font-size: 2.5rem;
  color: black;
  margin: 20px;

  &:hover {
    color: #5b483f;
  }
}

.community {
  @include mixins.desktop-only {
    padding: 50px 40px;
    width: 90%;
    margin: 0 auto;
  }
}

.img-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  height: 100%;

  img {
    width: 100%;
    height: auto;
   
  }
}

.img-container:hover {
  text-decoration: underline;

}

.label {
  background-color: white;
  color: black;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 600;
  padding: 7px 20px;

  @include mixins.tablet-only {
    width: 100%;
  }

  @include mixins.desktop-only {
    width: 50%;
  }
}

.menu-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include mixins.desktop-only {
    padding: 0px 20px;
    align-items: flex-start;
  }

  img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &:hover {
      opacity: 0.8;
    }
  }
}


.locations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  figure {
    @include mixins.desktop-only {
      width: 80%;
      margin: 0px 30px 20px;
    }
  }

  @include mixins.desktop-only {
    padding: 0px 20px;
    align-items: flex-start;
  }

  img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

figure {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px;
  text-align: center;
  font-size: 1.5rem;

  @include mixins.desktop-only {
    width: 40%;
    margin: 0px 30px 20px;
  }

  figcaption {
    margin-top: 15px;
  }
}