/* FOOTER */

.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #29201b;
  padding: 30px;
  font-size: 1.2rem;
  color: white;

  a {
    color: white;
  }
}

.footer-section {
  margin: 10px 5px;

  p {
    margin: 7px;
    text-align: left;
  }
}

.footer-section .social-buttons {
justify-content: flex-start;
}


.footer-container .fab {
  color: white;
  margin: 0px 10px;
  font-size: 1.5rem;
}

#text {
  display: none;
}