/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {


  // HERO
  .hero-container {
    background-image: url('../images/hero-desktop.jpg');
    background-position: top center;
    height: 100vh;
    background-size: cover;
    padding-bottom: 750px;
  }

  .hero-text {
    text-align: right;
    padding-top: 120px;
    padding-right: 100px;
    font-size: 5rem;
  }

  // NAVIGATION

  .navbar {
    padding: 0;
  }

  .navbar-brand {
    font-size: 2.2rem;
    padding: 0;
  }

  // GRID CONTAINER

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px 40px;

    a {
      text-decoration: none;
    }
  }

  // COMMUNITY
  .community {
    padding: 0px 40px;
  }

  // MENU + LOCATIONS
  .menu-locations {
    height: 100vh;
  }

  .menu-gallery {
    justify-content: center;
    padding: 0px 20px;
    align-items: flex-start;

    figure {
      width: 40%;
      margin: 0px 30px 20px;
    }
  }

  .locations-container {
    justify-content: center;
    padding: 0px 20px;
    align-items: flex-start;

    figure {
      width: 80%;
      margin: 0px 30px 20px;
    }
  }

  // HEADINGS
  h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding: 40px;
  }

  .title-md {
    font-size: 3.3rem;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .title-sm {
    font-size: 2.8rem;
    padding: 60px 40px 0px;
    margin: 0;
  }

  // ABOUT
  .about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    padding: 45px 40px 80px;
  }

  .about-section {
    width: 50%;
  }

  .about-text {
    line-height: 30px;
    padding: 0px 0px 20px 50px;
    margin: 0;
  }


  // FOOTER
  .footer-container {
    padding: 80px;
    text-align: center;
    font-size: 1.2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a {
      color: white;
    }
  }

  .footer-section p {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 9px 0px;
  }

  .footer-section {
    padding: 0px 60px;
  }

  .footer-container .fab {
    margin: 40px 10px;
    font-size: 2rem;

    &:hover {
      color: #79665d;
    }
  }

  // MODAL
  .modal-content {
    margin: 20px auto;
    width: 70%;
    }
  }
