@use 'elements/navigation';
@use 'elements/hero';
@use 'elements/grid';
@use 'elements/about';
@use 'elements/footer';
@use 'elements/modal';
@use '/src/scss/mixins';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 239, 214);
  color: black;
}