@use 'navigation';
@use 'hero';
@use 'grid';
@use 'about';
@use 'footer';
@use 'mediaqueries';


* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 239, 214);
  color: black;

}