@use 'elements/navigation';
@use 'elements/hero';
@use 'elements/landingpage';
@use 'elements/about';
@use 'elements/footer';
@use 'elements/modal';
@use 'mixins';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #e8d3b1;
  color: black;
}